---
import Layout from '../layouts/Layout.astro';
import Footer from "../components/Footer.astro";
import { supabase } from '../supabaseClient';

const categories = [
  { link:"ComerciosFerreteria", name: "Ferreteria", icon: "🛠️" },
  { link:"ComerciosMercado", name: "Mercado", icon: "🛒" },
  { link:"ComerciosTaller", name: "Taller", icon: "🧑‍🔧" },
  { link:"ComerciosVerduleriaCarniceria", name: "Verduleria | Carniceria", icon: "🥬🥩" },
  { link:"ComerciosWebElectronica", name: "Web | Electronica", icon: "🌐👨‍💻" },
  { link:"ComerciosEsteticaIndumentaria", name: "Estetica | Indumentaria", icon: "💅👕" },
  { link:"ComerciosLibreria", name: "libreria", icon: "📖" },
  { link:"ComerciosEntretenimiento", name: "Entretenimiento", icon: "🤩" },
];

let comercios_libreria: any[] = [];

const { data, error } = await supabase
  .from('comercios_libreria')
  .select('*');


if (error) {
  console.error('Error fetching data:', error);
} else {
  comercios_libreria = data;
}

let loading = true;

const fetchComercios = async () => {
  loading = true;
  const { data, error } = await supabase
    .from('comercios_libreria')
    .select('image_profile, name, type, address, location, phone, email, website');
  if (error) {
    console.error('Error fetching data:', error);
  } else {
    comercios_libreria = data;
  }
  loading = false;
};

await fetchComercios();

---


<Layout class="container">
  <!-- Filtro para las categorías de los comercios -->
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <h1 class="text-2xl font-bold font-serif text-gray-800">Comercios</h1>
      <div class="mt-4 grid grid-cols-2 sm:grid-cols-4 gap-6 ">
        {categories.map((category) => (
          <div class="flex flex-col items-center bg-white shadow rounded-lg p-4 hover:cursor-pointer hover:bg-gray-100">
            <a class="flex flex-col items-center" href={`/${category.link}`}>
              <span class="text-4xl">{category.icon}</span>
              <p class="mt-2 text-gray-700">{category.name}</p>
            </a>
          </div>
        ))}
      </div>
  </div>
  <!--------------------------------------------------->
  <!-- Comercios libreria -->
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <h2 class="text-2xl font-bold font-serif text-gray-800">Librerías</h2>
      <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        {loading ? (
          <p class="text-center text-gray-500">Cargando comercios...</p>
        ) : (
          comercios_libreria.map((comercio) => (
            <div class="flex flex-col bg-white shadow rounded-lg overflow-hidden hover:bg-blue-100 hover:cursor-pointer transform transition duration-300 hover:scale-102">
              <img src={comercio.image_profile} alt={comercio.name} class="h-48 w-full object-cover" />
              <div class="p-4">
                <h3 class="text-lg font-bold">{comercio.name}</h3>
                <p class="mt-2 text-gray-600">{comercio.type}</p>
                <p class="mt-2 text-gray-600">{comercio.address}</p>
                <p class="mt-2 text-gray-600">{comercio.location}</p>
                <p class="mt-2 text-gray-600">{comercio.phone}</p>
                <p class="mt-2 text-gray-600">{comercio.email}</p>
                <a href={comercio.website} class="mt-2 text-blue-600 truncate block w-full">{comercio.website}</a>
              </div>
            </div>
          ))
        )}
        
      </div>
  </div>
  <!------------------------------------------------->
  <Footer />
</Layout>
