---
import Footer from "./Footer.astro";

const categories = [
{
    name: "Electrónica",
    icon: "📱",
    products: [
      { name: "Audio y video", link: "filtrado/electronica/ComerciosConAV" },
      { name: "Gaming", link: "filtrado/electronica/ComerciosConGaming" },
      { name: "Accesorio", link: "filtrado/electronica/ComerciosConAccesorio" },
      { name: "Disp. personal", link: "filtrado/electronica/ComerciosConDispositivoPersonal" },
    ],
  },
  {
    name: "Hogar",
    icon: "🏠",
    products: [
      { name: "Salon", link: "filtrado/hogar/ComerciosConSalon" },
      { name: "Cocina", link: "filtrado/hogar/ComerciosConCocina" },
      { name: "Baño", link: "filtrado/hogar/ComerciosConBaño" },
      { name: "Electro", link: "filtrado/hogar/ComerciosConElectro" },
    ],
  },
  {
    name: "Ropa",
    icon: "👕",
    products: [
      { name: "Superior", link: "filtrado/ropa/ComerciosConSuperior" },
      { name: "Inferior", link: "filtrado/ropa/ComerciosConInferior" },
      { name: "Interior", link: "filtrado/ropa/ComerciosConInterior" },
      { name: "Complemento", link: "filtrado/ropa/ComerciosConComplemento" },
    ],
  },
  {
    name: "Vehículos",
    icon: "🚗",
    products: [
      { name: "Auto y Moto", link: "filtrado/vehiculos/ComerciosConAutoMoto" },
      { name: "Bicicleta", link: "filtrado/vehiculos/ComerciosConBicicleta" },
      { name: "Gadget", link: "filtrado/vehiculos/ComerciosConGadget" },
      { name: "Cambio-Repuesto", link: "filtrado/vehiculos/ComerciosConCambioRepuesto" },
    ],
  },
  {
    name: "Alimentación",
    icon: "🍽️",
    products: [
      { name: "Fruta y verdura", link: "filtrado/alimentacion/ComerciosConFyV" },
      { name: "Sin tacc", link: "filtrado/alimentacion/ComerciosSinTacc" },
      { name: "Carne", link: "filtrado/alimentacion/ComerciosConCarne" },
      { name: "Lácteo", link: "filtrado/alimentacion/ComerciosConLacteo" },
      { name: "Panadería", link: "filtrado/alimentacion/ComerciosConPanaderia" },
      { name: "Preparada", link: "filtrado/alimentacion/ComerciosConPreparada" },
    ],
  },
];

const featuredProducts = [
  {
    id: 1,
    name: "Televisor Samsung 55\"",
    price: "$500",
    imageUrl: "https://descriptive.audio/wp-content/uploads/2024/01/accessing-favorite-channels-on-samsung-smart-tv-1200x686.jpg",
    location: "Madrid, España",
  },
  {
    id: 2,
    name: "Sofá 3 plazas",
    price: "$150",
    imageUrl: "https://ii1.pepperfry.com/media/catalog/product/h/a/1100x1210/havana-one-seater-sofa-in-ecru-colour-by-casacraft-havana-one-seater-sofa-in-ecru-colour-by-casacraf-tesls0.jpg",
    location: "Barcelona, España",
  },
  {
    id: 3,
    name: "Ferrari 296 GTS",
    price: "$50000",
    imageUrl: "https://cdn.motor1.com/images/mgl/P3g46r/s4/lego-florida-ferrari-296-gts-model.jpg",
    location: "Barcelona, España",
  },
  {
    id: 4,
    name: "Tienda de ropa",
    price: "$50000",
    imageUrl: "https://th.bing.com/th/id/OIP.fCL_1GuDqf-Qk1RD4PhPLAHaEQ?rs=1&pid=ImgDetMain",
    location: "Barcelona, España",
  },
  {
    id: 5,
    name: "Camisetas y camperas",
    price: "$50000",
    imageUrl: "https://i.pinimg.com/originals/80/ef/2c/80ef2c6ae4191535825508fc37b4f495.jpg",
    location: "Barcelona, España",
  },
  {
    id: 6,
    name: "Celulares usados",
    price: "$50000",
    imageUrl: "https://cdn.storifyme.com/accounts/cashify-in-0561312/assets/f-eoy-2022-best-phones-on-leather-82671674411446738.jpeg?t=1674415475000",
    location: "Barcelona, España",
  },
];
---

<div id="container">

  <div class="bg-gray-50 min-h-screen">
    <!-- Hero Section -->
    <div class="bg-blue-600 text-white py-10">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
        <h1 class="text-4xl font-bold font-serif">Busca y compra localmente</h1>
        <p class="mt-4 text-lg">
          Encuentra lo que necesitas en tu comunidad
        </p>
      </div>
    </div>

    <section id="categoryContainer" class="bg-gray-100 flex">
    <!-- Categories Section -->
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 flex flex-col">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Busca comercios según lo que necesites</h2>
        <div class=" grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 flex flex-col">
          {categories.map((category) => (
            <details class="group bg-bg-gray-50 border border-gray-50 rounded-lg">
              <summary class="cursor-pointer list-none px-4 py-3 flex items-center justify-between text-lg font-bold bg-gray-200 hover:bg-gray-300 rounded-lg">
                <span>{category.icon} {category.name}</span>
                <span class="group-open:hidden">▼</span>
                <span class="hidden group-open:block">▲</span>
              </summary>
              <div class="grid grid-cols-2 sm:grid-cols-3 gap-2 p-1">
                {category.products.map((product) => (
                  <a href={product.link} class="p-1 bg-gray-100 border rounded-md text-center hover:bg-gray-200">
                    <span class="text-sm font-medium">{product.name}</span>
                  </a>
                ))}
              </div>
            </details>
          ))}
        </div>  
  </div>

    <!-- Featured Products Section -->
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <h2 class="text-2xl font-bold text-gray-800">Productos destacados</h2>
      <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        {featuredProducts.map((product) => (
          <div class="flex flex-col bg-white shadow rounded-lg overflow-hidden hover:bg-gray-300 hover:cursor-pointer transform transition duration-300 hover:scale-102">
            <img src={product.imageUrl} alt={product.name} class="h-48 w-full object-cover" />
            <div class="p-4">
              <h3 class="text-lg font-bold">{product.name}</h3>
              <p class="mt-2 text-gray-600">{product.price}</p>
              <p class="mt-1 text-sm text-gray-500">{product.location}</p>
            </div>
          </div>
        ))}
      </div>
    </div>
    </section>

    <Footer />
  </div>

</div>

<style>
  #container {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  }

  @media (max-width: 800px) {
    #categoryContainer {
      flex-direction: column;
    }
  }
</style>
